body {      
  margin: 0 auto;
  background-image: url('fon2.jpg');
    }
    .header{
       width: 100%;
       height: 100px;
       background: #D2B48C;
       margin: 0;
       border-bottom: 2px solid rgb(150, 146, 146); /* Параметры линии внизу */
       background-image: url('fon1.jpg');
       background-size:100%; 
    }
    .header1{
       width: 20%;
       height: 100px;
       font-family:  Lobster;
       font-size: 25px;
       float: left;
       text-align:right;
       display: inline-block;
    }
    
    .header2{
       width: 60%;
       height: 100px;
       font-family:  Arial;
       font-size: 16px;
       float: left;
       display: inline-block;
    }

    .header2 p{
    padding-left: 20px;
    border-left: 1px dashed  rgb(150, 146, 146) ;
    margin-top: 57px;  
    }

    .header3{
       width: 20%;
       height: 100px;
       float: left;
       display: inline-block;

    }

    .header3 p{
    padding-top: 25px;  
    }
      .social_networks {
      text-decoration: none;
      margin-top: 50px
      }

        .menu1{
      width: 75%;
      float: left;
      display: inline-block;
      }
      .menu2{
        width: 25%;
        float: left;
        display: inline-block;
        }

    .main_menu{
       width: 100%;
       height: 50px;
       margin: 0;
       border-top: 2px dashed  rgb(150, 146, 146); /* Параметры границы */
       border-bottom: 2px dashed  rgb(150, 146, 146); /* Параметры границы */
       background-image: url('fon3.jpg');
       background-size:100%;
    } 
    .menu {
      text-decoration: none;
      color: #000;      
      font-family: 'Arial', sans-serif;
      font-size: 16px;
    }

    .main_menu li {
      list-style: none;
      display: inline-block;
      padding-left: 35px; 
    }

    .menu a:active {
    color: #FFFFFF; /* Цвет активной ссылки */
    background-color: #696969;
    } 

    .search{
      padding: 5px;
      padding-right: 75px;          
      background-image: url('searchform-submit.png');
      background-repeat: no-repeat, no-repeat;
      background-position:right;
      margin: 10px 
    }


    .all_content{
    width: 1200px;
    background-color: rgb(249, 249, 249);
    border: 2px ridge rgb(204, 204, 204); /* Параметры границы */  
    margin: 30px auto;
    border-radius: 7px;
    border-collapse: collapse; /* Отображать только одинарные линии */
    }



    .content_menu {
      width: 25%;
      display: inline-block;
      float: left;
      margin: 0 auto;
      text-decoration: none;
      color: rgb(249, 249, 249);      
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      border-collapse: collapse; /* Отображать только одинарные линии */
      
    }
    .content_menu li {
      list-style: none;
      padding: 15px;
      border: 1px ridge rgb(238, 238, 238);
      margin: 0 auto; 
    }

    .content_menu a:active {
     color: #FF0000; /* Цвет активной ссылки */
     background-color: #E8E8E8;
     }

    #content_menu {
    margin: 0 ;
    padding: 0;
    }
    
    .content{
     width: 74.7789%;
     display: inline-block;
     border-collapse: collapse; /* Отображать только одинарные линии */
     border-left: 2px ridge #BEBEBE;
     margin: 0;
     font-family: 'Arial', sans-serif;
    font-size: 16px;
    }
    .way{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 15px 20px 5px;
    padding: 5px;
    border-bottom: 1px ridge rgb(238, 238, 238); /* Параметры линии внизу */
    }
    .way a:hover {
    background: #696969; /* Цвет фона под ссылкой */ 
    color: #fff; /* Цвет ссылки */ 
   } 
    .picture_small{
    width: 19%;
    display: inline-block;
    float: left;
    margin: 15px;
    padding: 5px;
    border: 1.5px solid rgb(211, 211, 211);
    border-radius: 5px;
    }
    .text_small{
    width: 75%;
    display: inline-block;
    float: left;
    }
    .title_small{
       width: 98.5%;
       display: inline-block;
       border-bottom: 1.5px dashed rgb(190, 190, 190);
     
    }
    .title_text{
    width: 80%;
    display: inline-block;
    float: left;
    }



    .title_data{
    width: 15%;
    height: 16px;
    margin-top: 22px;
    display: inline-block;
    float: left;
    border-left: 1px dotted black ;
    padding-left: 10px;
    color:rgb(221, 220, 220);
    }
    .checkbox{
    position: absolute; /* Абсолютное позиционирование */
    top: 298px; /* Положение от верхнего края */
    right: 90px; /* Положение от правого края */
    line-height: 1px;
    }

    .text{
    width: 98.5%;
    border-bottom: 1.5px dashed #BEBEBE;
      
    }
    .bottom_menu_text_small{
    width: 97%;
    display: inline-block;
    float: left;
    border-bottom: 1.5px dashed rgb(190, 190, 190);
    padding: 5px;

    }

    .bottom_menu {
      text-decoration: none;
      color: black ;

    }

    .bottom_menu_text_small a:hover {
    color: #FF0000; /* Цвет активной ссылки */
    background-color: #E8E8E8;
    border-bottom: 1px solid #FF0000;
    } 

    #coment{
     border-right: 1px dotted black;
     margin-right: 15px;         
    }

    #read_more{
      float: right;
    }
    
    .title_big{
    width: 95%;
    height: 70px;
    display: inline-block;
    margin: 20px;
    border-bottom: 1px ridge rgb(238, 238, 238); /* Параметры линии внизу */
    padding-bottom: 20px;
    }

.title_text_big{
    width: 70%;
    height: 60px;
    display: inline-block;
    float: left;
    margin-top: 22px;
    }



    .data_text_big{
    width: 20%;
    height: 60px;
    margin-top: 22px;
    display: inline-block;
    float: right;
    border-left: 1px dotted black ;
    padding-left: 10px;
    }
.data_text_big p{
     margin: 10px;
    font-family: 'Arial', sans-serif;
    }


  
    .picture_big{
    display: inline-block;
    margin: 15px 43px 15px ;
    padding: 5px;
    border: 1.5px solid rgb(211, 211, 211);
    border-radius: 5px;
    }

    .text_big{
    
    }
    .parameters{
    width: 95%;
    height: 60px;
    margin: 60px auto 30px ;
    border: 1.5px solid rgb(234, 234, 234);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    
    }

    p{
    margin: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    }

    .comments{
      width: 95%;
      border-top: 1px ridge rgb(238, 238, 238);
      margin: 0px auto 0px ;
    }
    .comment1{
    width: 100%;
    height: 100px;
    display: inline-block;
    float: right;
    }

    .comment2{
      width: 100%;
    height: 60px;
    display: inline-block;
    float: right;
    }

    .comment_jpg{
    width: 6%;
    padding: 5px;
    border: 2px ridge #BEBEBE;
    border-radius: 5px;

    }

    .comment{
    width: 70%;
    height: 60px;
    border: 2px ridge #BEBEBE;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    float: right;
    margin: 20px;
    }
    

