.header{
	width: 1000px;
	margin: 0 auto;
	background: #FFF8DC
}
.Free_CSS_Layouts{
  width: 100%;
  height: 100px;
  background: #D2B48C;
  padding-top: 8px;
}
.Navigation  {
    width: 20%;
    height: 150px;
	background: #BC8F8F;
	float: left;
}

.Content{
	width: 80%;
	background: #FFE4C4;
	
	float: right;
	
}
.More_stuff{
	width: 20%;
    background: #765;
	
}
.Footer{
  width: 100%;
  height: 30px;
  background: #D2B48C;
  margin: 5px;
  float:left; 
}